numpy
opencv-python-headless
torch
torchvision
easydict
ipdb
lmdb
pyflakes
PyYAML
tqdm
tensorboard
scikit-learn
omegaconf
pickle5
matplotlib
tokenizers
ftfy
regex
datadings
pycocotools
datasets
clip
tensorflow
huggingface_hub
accelerate
transformers
decord
pytorch_msssim
timm
einops
sentencepiece
rouge_score
flash-attn
