numpy
opencv-python-headless
torch
torchvision
easydict
ipdb
lmdb
pyflakes
PyYAML
tqdm
tensorboard
scikit-learn
omegaconf
pickle5
matplotlib
tokenizers
ftfy
regex
datadings
pycocotools
datasets
clip
tensorflow
pytorch_msssim

